= render "submissions/results", {:results => @data_dictionary_results, :title => "Data Dictionary Results" }
= render "submissions/results", {:results => @data_file_results, :title => "Data File Results" }